<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/glailrlayout}"
      xml:lang="en" lang="en">
<body>
<div>
    <section id="files" class="gla-main-section" layout:fragment="content">

        <div class="page-header">
            <h2>Imported files</h2>
        </div>

        <div id="upload-error-message" class="row mtop10 text-md-center error" th:if="${errorMessageList}">
            <div th:each="error : ${errorMessageList}" >
                <h5 th:text="${error}"></h5>
            </div>
        </div>

        <div class="row mtop10" th:if="${opsPushMessage}">
            <h4 th:text="${opsPushMessage}"></h4>
        </div>

        <div class="row mtop20 mbotton 30">
            <div id="info-message" class="row mtop10 text-md-center" th:if="${infoMessage}">
                <h4 th:text="${infoMessage}"></h4>
                <h4 th:text="${numberOfRecordsUpdated}"></h4>
            </div>

            <div id="upload-error-message" class="row mtop10 text-md-center error" th:if="${errorMessage}">
                <h4 th:text="${errorMessage}"></h4>
            </div>

            <div class="row mtop10 pull-right " >
                <form id="data-upload-form" method="POST" enctype="multipart/form-data" action="/upload">
                    <input id="file-select-input" type="file" name="file" style="display: none" onchange="document.getElementById('file-submit-btn').click()" />
                    <button id="file-select-btn" class="btn btn-secondary" type="button" style="margin-bottom: 15px"
                            onclick="document.getElementById('file-select-input').click()">UPLOAD +</button>
                    <button id="file-submit-btn" type="submit" style="display: none"></button>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped" id="uploaded-files">
                <thead class="thead-inverse uppercase">
                <tr>
                    <th>FILE TYPE</th>
                    <th>FILE NAME</th>
                    <th>UPLOADED AT</th>
                    <th>UPLOADED BY</th>
                    <th>STATUS</th>
                    <th>LAST PUSH TO OPS</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dataImport,iter : ${dataImports}">
                    <td th:text="${dataImport.importType.description}"></td>
                    <td th:text="${dataImport.fileName}"></td>
                    <td th:text="${#temporals.format(dataImport.createdOn, 'dd/MM/yyyy')}"></td>
                    <td th:text="${dataImport.createdBy}"></td>
                    <td th:text="${#strings.capitalize(#strings.toLowerCase(dataImport.status)) + ( #strings.toLowerCase(dataImport.status) == 'processing' &&  dataImport.rowsProcessed > 0 ? ' (' + dataImport.rowsProcessed + ')' : '' )}"></td>
                    <td th:text="${#temporals.format(dataImport.lastExportDate, 'dd/MM/yyyy HH:mm')}"></td>
                    <td class="delete-btn-container">
                        <form id="ops-push-form" method="POST" action="/pushFundingSummaryToOps" th:if="${dataImport.canPushToOPS}">
                            <input th:type="hidden" th:name="id" th:value="${dataImport.id}"/>
                            <button id="ops-push-btn" class="btn btn-secondary" type="submit"> PUSH TO OPS</button>
                        </form>

                        <div th:if="${dataImport.importType.deletable}">
                            <div th:replace="fragments/deleteButton :: deleteButton(
                            deleteEndpoint = 'deleteFile',
                            idToBeDeleted = ${dataImport.id},
                            confirmationTitle = |Delete ${dataImport.fileName}|,
                            confirmationText = 'The file will be permanently deleted from the gateway and not available for UKPRNs to download')">
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
</body>
</html>
