<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/glailrlayout}"
      xml:lang="en" lang="en">
<body>
<div>
    <section id="funding-learner" class="gla-main-section" layout:fragment="content">

        <div class="page-header">
            <h2>Funding Learner</h2>
        </div>

        <div class="table-responsive">

            <well class="row programmes-list-actions mbottom10 search-container ng-isolate-scope">
                <div id="filter-panel" class="gla-well">
                    <form action="/fundingLearner" method="get">
                        <div class="col-md-2 search-column">
                            <div class="text-align-left">UKPRN</div>
                            <div class="input-group">
                                <input id="ukprn-filter" type="number" name="ukprn" th:value="${param.ukprn}" maxlength="8" class="form-control search-input allow-in-readonly">
                            </div>
                        </div>

                        <div class="col-md-2 search-column">
                            <div class="text-align-left">Academic year</div>
                            <div class="input-group">
                                <input id="year-filter" type="number" name="year" th:value="${param.year}" maxlength="4" class="form-control search-input allow-in-readonly">
                            </div>
                        </div>

                        <div class="col-md-2 search-column">
                            <div class="text-align-left">Month</div>
                            <div class="input-group">
                                <input id="month-filter" type="number" name="month" th:value="${param.month}" maxlength="2" class="form-control search-input allow-in-readonly">
                            </div>
                        </div>

                        <div class="col-md-2 search-column">
                            <div class="text-align-left"></div>
                            <button id="search-button" class="btn btn-secondary mtop15" type="submit">Search</button>
                        </div>

                        <div class="col-md-2 search-column pull-right">
                            <div class="text-align-left"></div>
                            <label th:if="${param.ukprn != null || param.year != null || param.month != null}" class="mtop20 pull-right"><a href="/fundingLearner">Reset all</a></label>
                        </div>
                    </form>
                </div>
            </well>

            <div th:replace="fragments/pagination :: pagination">...</div>
            <table class="table table-hover table-bordered table-striped" id="funding-learner-table"
                   th:if="${!page.isEmpty()}">
                <thead class="thead-inverse uppercase">
                <tr>
                    <th>ID</th>
                    <th>YEAR</th>
                    <th>UKPRN</th>
                    <th>LEARNING REFERENCE NUMBER</th>
                    <th>MONTH</th>
                    <th>TOTAL PAYMENT</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="learnerRecord,iter : ${page.content}">
                    <td th:text="${learnerRecord.id}"></td>
                    <td th:text="${#gla.fYear(learnerRecord.year)}"></td>
                    <td th:text="${learnerRecord.ukprn}"></td>
                    <td th:text="${learnerRecord.learnRefNumber}"></td>
                    <td th:text="${learnerRecord.month}"></td>
                    <td th:text="${learnerRecord.totalPayment}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
</body>
</html>
