<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/glailrlayout}"
      xml:lang="en" lang="en">
<head>
    <script>
        function goToIndividualLearnerPage(learnerId, ukprn, year) {
            if ([[${user.isGla() && learnerDetailsPageEnabled}]]) {
                window.location.href = '/learners/lrn/' + learnerId + '/ukprn/' + ukprn + '/year/' + year;
            }
        }
    </script>
</head>

<body>
<div>
    <section id="learners" class="gla-main-section learners" layout:fragment="content">

      <div class="page-header">
        <h2 th:text="${pageTitle}"></h2>
      </div>

      <gla-well class="row programmes-list-actions mbottom10 search-container">
        <div id="filter-panel" class="gla-well">
          <form id="learnersForm" action="/learners" method="get">
            <div class="col-md-3 search-column">
              <label class="text-align-left" for="learner-filter">Learner</label>
              <input id="learner-filter" type="text" placeholder="Learner number or reference" name="learner" th:value="${param.learner}" maxlength="13"
                     class="form-control search-input allow-in-readonly">
            </div>

            <div class="col-md-2 search-column">
              <label class="text-align-left" for="ukprn-filter">UKPRN</label>
              <div class="input-group">
                <input id="ukprn-filter" type="number" placeholder="UKPRN" name="ukprn" th:value="${param.ukprn}" maxlength="2" class="form-control search-input allow-in-readonly">
              </div>
            </div>

            <div class="col-md-2 search-column">
              <label class="text-align-left" for="academic-year-filter">Academic year</label>
              <div class="input-group">
                <select id="academic-year-filter" class="form-control" name="academicYear">
                  <option value="">All</option>
                  <option th:each="academicYear: ${academicYears}"
                          th:value="${academicYear}"
                          th:text="${#gla.financialYear(academicYear)}"
                          th:selected="${#strings.equals(param.academicYear, #strings.toString(academicYear))}"></option>
                </select>
              </div>
            </div>

            <div class="col-md-2 search-column">
              <div class="text-align-left"></div>
              <button id="search-button" class="btn btn-secondary mtop15" type="submit">Search</button>
            </div>

            <div class="col-md-2 search-column pull-right">
              <div class="text-align-left"></div>
              <label th:if="${param.learner != null || param.ukprn != null || param.academicYear != null}" class="mtop20 pull-right"><a href="/learners">Reset all</a></label>
            </div>

            <div class="col-md-12 pull-left text-align-left">
              <span id="no-data-text" class="mtop20 pull-left" th:text="${noReturnData}"/>
            </div>
          </form>
        </div>
      </gla-well>

        <div th:replace="fragments/pagination :: pagination">...</div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped" id="learners-table" th:if="${!page.isEmpty()}">
                <thead class="thead-inverse uppercase">
                <tr>
                  <th id="learner-reference">LEARNER REFERENCE</th>
                  <th>UNIQUE LEARNER NUMBER</th>
                  <th>ACADEMIC YEAR</th>
                  <th>UKPRN</th>
                </tr>
                </thead>
                <th:block th:each="learnerRecord,iter : ${page.content}">
                    <tr th:data1="${learnerRecord.id.learnerReferenceNumber}"
                        class="allow-enter"
                        tabindex="0"
                        th:onclick="|goToIndividualLearnerPage(this.getAttribute('data1'),'${learnerRecord.id.ukprn}' ,'${learnerRecord.id.year}')|">
                      <td th:id="${'lrn-' + learnerRecord.id.learnerReferenceNumber}" th:text="${learnerRecord.id.learnerReferenceNumber}"></td>
                      <td th:text="${learnerRecord.learnerId}"></td>
                      <td th:text="${#gla.financialYear(learnerRecord.id.year)}"></td>
                      <td th:text="${learnerRecord.id.ukprn}"></td>
                    </tr>
                </th:block>
            </table>
        </div>
    </section>
</div>
</body>
</html>
