<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/glailrlayout}"
      xml:lang="en" lang="en">

<head>
    <script>
        function toggleDisplay(id) {
            var row = document.getElementById('details.' + id);
            var icon = document.getElementById('icon.' + id);
            if (row.style.display === "none") {
                row.style.display = "";
                icon.classList.toggle("glyphicon-chevron-right")
                icon.classList.toggle("glyphicon-chevron-down")
            } else {
                row.style.display = "none";
                icon.classList.toggle("glyphicon-chevron-right")
                icon.classList.toggle("glyphicon-chevron-down")

            }
        }
    </script>
</head>
<body>

<div class="learners">
    <section id="viewLearners" class="gla-main-section row no-gutter" layout:fragment="content">

        <div class="page-header">
             <h2 >
                 Unique Learner Number <span th:text="${learner.uniqueLearnerNumber}"/>
             </h2>
        </div>

        <div class="subtitle-row" >
          <div th:text="${lastSupplementaryDataUpload}"></div>
        </div>

        <div class="col-md-12 text-align-left mbottom20" >
            <h4 >Learner ID</h4>
        </div>

        <div class="col-md-4 ">
            <div class="bolder">Learner reference</div>
            <div th:text="${learner.id.learnerReferenceNumber}"/>
        </div>
        <div class="col-md-4">
            <div class="bolder">UKPRN</div>
            <div th:text="${learner.id.ukprn}"/>
        </div>
        <div class="col-md-4">
            <div class="bolder">Campus identifier</div>
        </div>





        <div class="col-md-12 text-align-left mtop20">
            <hr/>
            <h4 class="mtop20" >Personal Details</h4>
        </div>

        <div class="col-md-6 ">
            <div class="bolder">Date of birth</div>
            <div th:text="${#temporals.format(learner.dateOfBirth, 'dd/MM/yyyy')}"/>
        </div>

        <div class="col-md-6 bolder ">
            Gender
            <div th:text="${learner.gender}" />
        </div>
        <div class="col-md-6 mtop30">
            <div class="bolder">Ethnicity</div>
            <div th:text="${learner.ethnicity}" />
        </div>
        <div class="col-md-6 mtop30">
            <div class="bolder">First language</div>
            <div>-</div>
        </div>
        <div class="col-md-6 mtop30">
            <div class="bolder">LLDD Category</div>
            <div th:text="${learner.llddHealthProblem}" />
        </div>
        <div class="col-md-6 mtop30">
            <div class="bolder">Primary LLDD</div>
            <div th:text= "${primaryLldd}" />
        </div>a


        <div class="col-md-12">
        <table class="table table-hover table-bordered table-striped" id="learner-occupancy-table"
               th:if="${!delivery.isEmpty()}">
            <thead class="thead-inverse uppercase">
            <tr>
                <th></th>
                <th>UKPRN</th>
                <th>AIM TITLE</th>
                <th>START DATE</th>
                <th>PLANNED END DATE</th>
                <th>ACTUAL END DATE</th>
                <th>OUTCOME</th>
            </tr>
            <tbody th:each="occupancyRecord,iter : ${delivery}">
                <tr >
                    <td >
                        <span class="glyphicon glyphicon-chevron-right"
                              th:data1="${occupancyRecord.id.keyString}"
                              th:onclick="|toggleDisplay(this.getAttribute('data1'))|"
                              th:id="|icon.${occupancyRecord.id.keyString}|" />
                    </td>
                    <td th:text="${occupancyRecord.id.ukprn}"></td>
                    <td th:text="${occupancyRecord.aim.title}"></td>
                    <td th:text="${#temporals.format(occupancyRecord.startDate, 'dd/MM/yyyy')}"></td>
                    <td th:text="${#temporals.format(occupancyRecord.plannedEndDate, 'dd/MM/yyyy')}"></td>
                    <td th:text="${#temporals.format(occupancyRecord.actualEndDate, 'dd/MM/yyyy')}"></td>
                    <td th:text="${occupancyRecord.outcome}"></td>
                </tr>
                <tr th:id="${'details.' + occupancyRecord.id.keyString}" style="display: none" >
                    <td  colspan="7" >
                        <div class="col-md-12 text-align-left ">
                            <hr/>
                            <h4 class="mtop20" >Additional Information</h4>
                        </div>

                        <div class="col-md-6  ">
                            <div class="bolder">Aim reference</div>
                            <div th:text="${occupancyRecord.aim.id.aimReference}"></div>
                        </div>
                        <div class="col-md-6  ">
                            <div class="bolder">Employment Status</div>
                            <div th:text="${occupancyRecord.learnerEmploymentStatus}"></div>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </section>

</div>
</body>
</html>
