<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/glailrlayout}"
      xml:lang="en" lang="en">
<body>
<div>
    <section id="reports" class="gla-main-section" layout:fragment="content">

        <div class="page-header">
            <h2>Reports</h2>
        </div>

        <div class="mtop40 mright15 mleft15">
            <form action="#" th:action="@{/reports}" method="post">

                <div class="row mtop30 text-center">
                    <label for="report-file-name" class="pull-left">File name (optional):</label>
                    <input id="report-file-name" name="fileName" type="text" maxlength="255" class="form-control">
                </div>

                <div class="row mtop30 text-center">
                    <label for="report-sql-query" class="pull-left">SQL:</label>
                    <div id="report-sql-query">
                        <textarea id="sql" name="sql" style="width: 100%; text-align: left" rows="5" maxlength="1000"></textarea>
                    </div>
                </div>

                <div class="row mtop30 mbottom10 text-center">
                    <button id="report-generation-button" class="btn btn-primary" type="submit">GENERATE <span class="glyphicon glyphicon-download-alt"></span></button>
                </div>
            </form>

        </div>

    </section>

</div>
