<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<body>

<gla-pagination th:fragment="pagination">

    <div class="pull-right" aria-label="Page navigation" th:if="${page.totalElements > page.pageSize}">
        <ul class="pagination pagination-sm" th:with="currentUrl=(${@currentUrlWithoutParam.apply('page')})">
            <li th:class="${page.pageNumber + 1 == 1} ? 'disabled' : ''">
                <a th:href="@{${currentUrl}(page=${page.pageNumber - 1})}">Previous</a>
            </li>
            <li th:each="pageControl : ${page.elements()}"
                th:classappend="${pageControl.isCurrent()}? active">
                <a th:href="@{${currentUrl}(page=${pageControl.pageNum - 1})}"
                   th:text=${pageControl.text}
                   th:attrappend="id=${pageControl.isCurrent()}?active-page"
                   href="javascript:void(0);"></a>
            </li>
            <li th:class="${page.pageNumber + 1 == page.totalPages} ? 'disabled' : ''">
                <a id="next-page" th:href="@{${currentUrl}(page=${page.pageNumber + 1})}">Next</a>
            </li>
        </ul>
    </div>

    <div class="pull-left pagination-summary" th:if="${page.totalElements == 0}">
        <span id="no-data-text">No data</span>
    </div>

    <div class="pull-right pagination-summary">
        Showing
        <span class="start-end-index">
            <span th:text="${page.startIndex}"></span> - <span id="number-of-shown-results" th:text="${page.endIndex}"></span>
        </span>
        of <span th:text="${page.totalElements}"></span>
    </div>

</gla-pagination>

</body>
</html>
