<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/glailrlayout}"
      xml:lang="en" lang="en">
<body>
<div>
    <section id="files" class="gla-main-section" layout:fragment="content">

        <div id="page-header" class="page-header">
            <h2>FTP Config</h2>
        </div>

        <div class="row">

            <div class="col-md-6 border-right">
                <div id="ftp-details">
                    <form action="#" th:action="@{/ftpSync}" th:object="${ftpConfig}" method="post">
                        <div class="row mtop10">
                            <label for="ftp-host">Server address</label>
                            <input id="ftp-host" type="text" name="host" th:value="${ftpConfig.host}" maxlength="255" class="form-control" disabled>
                        </div>

                        <div class="row mtop10">
                            <label for="ftp-path">Directory path</label>
                            <input id="ftp-path" type="text" name="path" th:value="${ftpConfig.path}" maxlength="255" class="form-control" disabled>
                        </div>

                        <div class="row mtop10">
                            <label for="ftp-username">Username</label>
                            <input id="ftp-username" type="text" name="username" th:value="${ftpConfig.username}" maxlength="255" class="form-control" disabled>
                        </div>

                        <div class="row mtop10">
                            <label for="ftp-password">Password</label>
                            <input id="ftp-password" type="text" name="password" th:value="${ftpConfig.password}" maxlength="255" class="form-control" disabled>
                        </div>

                        <div class="row mtop10 text-center">
                            <button id="run-synchroniser-button" class="btn btn-secondary mtop15" type="submit">
                                RUN SYNCHRONISER
                            </button>
                            <div id="run-synchroniser-message" class="row mtop10" th:if="${runSynchroniserMessage}">
                                <h4 th:text="${runSynchroniserMessage}"></h4>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="col-md-6">
                <div id="file-decryption-details">
                    <form action="#" th:action="@{/saveFileDecryptionPassword}" method="post">
                        <div class="row mtop10">
                            <label for="file-decryption-password">ZIP files password</label>
                            <input id="file-decryption-password" type="text" name="password" th:value="${fileDecryptionPassword}" maxlength="255" class="form-control">
                        </div>

                        <div class="row mtop10 text-center">
                            <button id="save-button" class="btn btn-secondary mtop15" type="submit">
                                SAVE
                            </button>
                            <div id="save-message" class="row mtop10" th:if="${saveMessage}">
                                <h4 th:text="${saveMessage}"></h4>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>

        <hr class="mtop30"/>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="#" th:action="@{/ftpConfig}" method="get">
                    <div class="row mtop10 text-center">
                        <button id="refresh-button" class="btn btn-secondary mtop15" type="submit">
                            REFRESH
                        </button>
                        <div id="refresh-error-message" class="row mtop10" th:if="${listFilesMessage}">
                            <h4 th:text="${listFilesMessage}"></h4>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">

                <div th:replace="admin/ftpFilesTable :: ftpFilesTable(tableId='ftp-local-files-table', tableName='Local files', files=${localFiles})">...</div>

            </div>

            <div class="col-md-6">

                <div th:replace="admin/ftpFilesTable :: ftpFilesTable(tableId='ftp-remote-files-table', tableName='Remote files', files=${remoteFiles})">...</div>

            </div>

        </div>

    </section>
</div>
</body>
</html>
