<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">ILR Gateway</title>
</head>
<body>

<div th:fragment="ftpFilesTable">

    <h4 class="text-center" th:text="${tableName}"></h4>

    <div class="row mtop30 text-center" th:if="${files != null && files.isEmpty()}">
        <h4>No files found</h4>
    </div>

    <table th:id="${tableId}" class="table table-hover table-bordered table-striped" th:if="${files != null && !files.isEmpty()}">
        <thead class="thead-inverse uppercase">
        <tr>
            <th>FILE NAME</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file,iter : ${files}">
            <td th:text="${file}"></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>
